#
/client/admin
/client/assets
/client/data
/client/includes
/client/install
/client/uploads
/client/.gitignore
/client/.htaccess
/client/CONTRIBUTING.md
/client/COPYRIGHT.txt
/client/CHANGELOG.txt
/client/favicon.ico
/client/index.php
/client/LICENSE.txt
/client/README.md
/client/robots.php
/client/robots.txt
/client/web.config

#
/client/modules/*
!/client/modules/users/
/client/modules/users/*
!/client/modules/users/login
/client/modules/users/login/*
!/client/modules/users/login/oauth-oauthnkv.php
!/client/modules/users/oAuthLib/
/client/modules/users/oAuthLib/*
!/client/modules/users/oAuthLib/OAuth/
/client/modules/users/oAuthLib/OAuth/*
!/client/modules/users/oAuthLib/OAuth/OAuth2
/client/modules/users/oAuthLib/OAuth/OAuth2/*
!/client/modules/users/oAuthLib/OAuth/OAuth2/Service/
/client/modules/users/oAuthLib/OAuth/OAuth2/Service/*
!/client/modules/users/oAuthLib/OAuth/OAuth2/Service/NukeViet.php

#
/client/themes/*
!/client/themes/default
/client/themes/default/*
!/client/themes/default/images
/client/themes/default/images/*
!/client/themes/default/images/users
/client/themes/default/images/users/*
!/client/themes/default/images/users/oauthnkv.png

#
/server/admin
/server/assets
/server/data
/server/includes
/server/install
/server/uploads
/server/.gitignore
/server/.htaccess
/server/CONTRIBUTING.md
/server/COPYRIGHT.txt
/server/CHANGELOG.txt
/server/favicon.ico
/server/index.php
/server/LICENSE.txt
/server/README.md
/server/robots.php
/server/robots.txt
/server/web.config

# 
/server/*
!/server/config.ini
!/server/modules
/server/modules/*
!/server/modules/oauth2
!/server/themes
/server/themes/*
!/server/themes/admin_default
/server/themes/admin_default/*
!/server/themes/admin_default/css
/server/themes/admin_default/css/*
!/server/themes/admin_default/css/oauth2.css
!/server/themes/admin_default/js
/server/themes/admin_default/js/*
!/server/themes/admin_default/js/oauth2.js
!/server/themes/admin_default/modules
/server/themes/admin_default/modules/*
!/server/themes/admin_default/modules/oauth2
!/server/themes/default
/server/themes/default/*
!/server/themes/default/modules
/server/themes/default/modules/*
!/server/themes/default/modules/oauth2
!/server/themes/default/css
/server/themes/default/css/*
!/server/themes/default/css/oauth2.css
